@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .light {
    --text: 4, 3, 22;
    --background: 253 253 242;
    --primary: 21, 70, 216;
    --secondary: 254, 203, 180;
    --accent: 85, 162, 165;
  }
  .dark {
    --text: 234, 233, 252;
    --background: 13, 13, 2;
    --primary: 27, 66, 184;
    --secondary: 75, 25, 1;
    --accent: 90, 167, 170;
  }
}
